<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-3">
          <img src="/secure-icon.png" alt="icon" width="20%" />
        </h1>
        <h2>Login</h2>
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <form action="/auth/github" method="GET">
          <button type="submit" class="btn btn-info btn-block" style="margin-top: 10px; background-color: #666; border-color: #666; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#444'" onmouseout="this.style.backgroundColor='#666'">
            <img src="/github-mark-white.png" alt="GitHub icon" class="github-icon" style="width: 20px; height: auto; margin-right: 10px; vertical-align: middle;">Sign in with GitHub
          </button>
        </form>
        <p class="mt-4">New User? <a href="/auth/register">Register</a></p>
        <p>Forgot Password? <a href="/auth/forgot">Reset</a></p>
      </div>
    </div>
  </div>